<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attributes</title>
</head>
<body>
    <h1>Attribute Values</h1>
    <hr>
    <div><input th:value="${value1}"></div>
    <div><input th:attr="value=${value1}"></div>

    <!-- selected, checked, readonly, disabled 와 같은 단독가능한 attribute 여부 -->
    <select>
        <option th:selected="${select1=='fiat'}">피아트</option>
        <option th:selected="${select1=='volvo'}">볼보</option>
        <option th:selected="${select1=='saab'}">사브</option>
    </select>


    <div><button onclick="location.href='sample01'">sample01</button></div>
    <div><button th:onclick="'location.href=\'' + @{${url1}} + '\''">sample01</button></div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>




