<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>th:block</title>
    <link rel="stylesheet" th:href="@{/common.css}">
</head>
<body>
    <h1>th:block</h1>
    <hr>
    <table>
        <tr><th>ID</th><th>NAME</th><th>REGDATE</th></tr>

        <tr th:each="member : ${arr}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>

<hr>
    <table>
        <tr><th>ID</th><th>NAME</th><th>REGDATE</th></tr>
        <th:block th:each="member : ${arr}" th:with="id=100">
            <tr>
                <td th:text="${member.id}"></td>
                <td th:text="${member.name} + ' ' + ${id}"></td>
                <td th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </th:block>
    </table>


</body>
</html>